@import 'functions';
@import 'variables';

@mixin forms() {
    form {
        @include flex-column();

        .mat-form-field {
            .mat-input-element {
                padding-bottom: 4px;
            }
        
            .mat-form-field-prefix {
                margin-right: 5px;
            }    
        }
        
        .mat-slide-toggle {
            margin: 0 10px 20px 10px;
        }
    }
}