@import 'paletes';

$fa-font-path : '~font-awesome/fonts';

$mobile-width: 600px;

$app-background-theme: map-get($app-theme, background);
$app-background: mat-color($app-background-theme, background) !default;

$app-primary-color: mat-color($app-primary, default) !default;
$app-accent-color: mat-color($app-accent, default) !default;

$app-transparency: 0.5;

$app-small-size: 599px;
$app-medium-size: 750px;
