@import 'functions';
@import 'variables';

@mixin views() {
    .view {
        @include flex-column();
        bottom: 0;
        position: fixed;
        top: 64px;
        width: 100%;

        @media (max-width: $app-small-size) {
            top: 56px;
        }
    }
}