@import 'functions';
@import 'flexboxes';
@import 'variables';
@import 'miscellaneous';
@import 'cards';
@import 'forms';
@import 'views';
@import 'calendar';
@import 'chips';


html{
    @include flex-column();
    height: 100%;
    overflow: hidden;

    body {
        @include flex-column();
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Raleway;
        margin: 0;
        overflow: hidden;

        @include flexboxes();
        @include miscellaneous();
        @include cards();
        @include forms();
        @include views();
        @include calendar();
        @include chips();
    }
}
